<html>
    <body>
        <form action="/novo/livro" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="tex" name="titulo" id="titulo" placeholder="Titulo do livro" />
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <input type="tex" name="descricao" id="descricao" placeholder="Descrição do livro" />
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="tex" name="preco" id="preco" placeholder="Preço do livro" />
            </div>
            
            <input type="submit" value="Gravar" />
        </form>
    </body>
</html>